http:
  services:
{% for bg in bluegreen_active_map %}
    {{ bg.name }}-active:
      weighted:
        services:
          - name: "{{ bg.active }}@docker"
            weight: 100
          - name: "{{ bg.inactive }}@docker"
            weight: 0
{% endfor %}
